#ifndef ENV_H_
#define ENV_H_

#ifdef __cplusplus
extern "C" {
#endif

/* exported macros  ----------------------------------------------------------*/

/* WiFi station configuration */
#define SSID_NAME  "youraccesspointname"
#define SSID_PASS  "youraccesspointpass"

/* web server configuration */
#define SVR_PORT   80
#define SVR_EVT    "/events"

#ifdef __cplusplus
}
#endif

#endif /* ENV_H_ */